.Score_App {
    margin: 50px 0;
    text-align: center;
    width: 683px;
}

.App_score {
    color: #0ea109;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
}

.App_score_txt_header {
    color: black;
    font-size: 20px;
    line-height: 15px;
    font-weight: bold;
}

.App_score_txt {
    color: black;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
}

.App_score_pts {
    color: #d37f00;
}

.App_button {
    background: #3498db;
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 25px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-bottom: 5px;
}

.App_button_reset {
    background: #cc0707;
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 25px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-bottom: 5px;
}
  